---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="{% if site.show_masthead == false %}no-masthead {% endif %}{% if site.show_default_footer == false %}no-default-footer{% endif %}">

    {% include browser-upgrade.html %}
    {% unless site.show_masthead == false %}
      {% include masthead.html %}
    {% endunless %}

    {{ content }}

    {% unless site.show_default_footer == false %}
      <div class="page__footer">
        <footer>
          {% include footer/custom.html %}
          {% include footer.html %}
        </footer>
      </div>
    {% else %}
      <div class="site-minimal-note">{{ site.minimal_footer_text | default: "@Shurui Liu 2026" }}</div>
    {% endunless %}

    {% include scripts.html %}

  </body>
</html>
